CATALOG_SOURCE=C:/Users/USERNAME/AppData/Roaming/io.github.clash-verge-rev.clash-verge-rev
# 同时作为内置 Mihomo 控制器密钥，至少使用 32 位随机字符串。
MIHOMO_CONTROLLER_SECRET=replace-with-a-long-random-secret
AUTH_USERNAME=admin
AUTH_PASSWORD_SALT=replace-with-random-salt
AUTH_PASSWORD_SCRYPT=replace-with-scrypt-hash
AUTH_COOKIE_SECURE=false
AUTH_SESSION_IDLE_SECONDS=7200
AUTH_SESSION_MAX_SECONDS=28800
AUTH_SESSION_TOUCH_SECONDS=300
AUTH_REMEMBER_IDLE_SECONDS=2592000
AUTH_REMEMBER_MAX_SECONDS=2592000
AUTH_SESSION_VERSION=1
